[Unit]
Description = "Discord bot"

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/discord_bot/
ExecStart=/opt/discord_bot/deployment/run.sh
User=discord_bot

[Install]
WantedBy=multi-user.target
