[Unit]
Description = "Discord bot"

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/bb_bot/
ExecStart=/opt/bb_bot/deployment/run.sh
User=bb_bot

[Install]
WantedBy=multi-user.target
