[Unit]
Description = "Discord bot"

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/blood-bowl-discord-bot/
ExecStart=/opt/blood-bowl-discord-bot/run.sh
User=bb_bot

[Install]
WantedBy=multi-user.target
